<h1 class='text-center mt-3'>Showing all Articles</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <% @articles.each do |article|%>
                <div class="card text-center mb-5 mt-5">
                    <div class="card-header">
                        By: <%=article.user.name%>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <%=link_to article.title, article_path(article), class:'text-success'%> </h5>
                        <p class="card-text"><%=article.description%></p>
                        <%=link_to'View', article_path(article), class:"btn btn-outline-success"%>
                        <%=link_to'Edit', edit_article_path(article), class:"btn btn-outline-primary"%>
                        <%=link_to'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?!'}, class:"btn btn-outline-danger"%>
                    </div>
                    <div class="card-footer text-muted">
                       <small>created <%= time_ago_in_words(article.created_at)%> ago, edited <%=time_ago_in_words(article.updated_at)%> ago</small> 
                    </div>
                </div>
            <%end%>
        </div>
    </div> 
</div>




<p>
    <%=link_to 'NEW ARTICLE', new_article_path %>
</p>
