<h1>Create a new article</h1>

<%if @article.errors.any?%>
    <ul>
        
         <%@article.errors.full_messages.each do |msg|%>
             <li><%=msg%></li>
        <%end%>
        
    </ul>    
<%end%>
<!--
<form action="/articles" method='post' accept-charset="UTF-8">

    <input type="hidden" name='authenticity_token' value='<%=form_authenticity_token%>'>
    <label for="title">Title:</label>
    <input type="text" name='article[title]' id='title'>
    <br>
    <label for="description">Description:</label>
    <input type="textarea" name="article[description]" id="description">

    <input type="submit" name="Create" id="">
</form>

-->

<!--
<%=form_tag('/articles', method: :post) do%>

    <%=label_tag('Title:')%>
    <%=text_field_tag 'title'%>
    <br>

    <%=label_tag('Description')%>
    <%=text_area_tag('description')%>
    <br>

    <%=submit_tag('Create')%>


<%end%>

-->



<!--
<%=form_for(@article)do |f|%>
    <%=label(:article, :title, 'Title: ')%>
    <%=f.text_field(:title, placeholder:'your title is here')%>
    <br>

    <%=label(:article, :description, 'Description: ')%>
    <%=f.text_area(:description, placeholder:'Enter your post here ')%>
    <br>

    <%=f.submit%>
<%end%>


-->

<%=form_with(scope: :article, url: articles_path, local: true, ) do |f|%>
    <%=f.label(:title)%><br>
    <%=f.text_field(:title, placeholder: 'ur title here ')%>
    <br>

    <%=f.label(:description)%><br>
    <%=f.text_field(:description)%>
    <br>

    <%=f.submit('submit')%>
<%end%>